<!DOCTYPE html>
<html lang="en">
    {{> head }}
<body>

    <!-- Adding a navbar partial -->
    {{> navbar }}

        <div class="container">
            <div class="row">
                <div class="card mt-5" style="width: 18rem;">
                <img class="card-img-top img-thumbnail" src="assets/image/test.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">About me!</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="/" class="btn btn-outline-primary">Go home</a>
                    </div>
                </div>
            </div>
        </div>
    {{> scripts}}
</body>
</html>